$min-width: 320 + px;
$max-width: 1170 + px;
$width-mobile: 320 + px;
$width-mobile-h: 667 + px;
$width-tablet: 767 + px;
$width-tablet-h: 930 + px;
$width-desktop: 1110 + px;
$transition: 0.3s ease-out 0s;
$font-family-poppins: "Poppins", "Arial", sans-serif;
$font-family-roboto: "Roboto", "Arial", sans-serif;
$primary-color: #48b774;
$attention-color: rgba(255, 131, 69, 1);
$main-bg-color: #ecf7f3;
$text-color: #7c7c7c;
$color-white: #ffffff;
$btn-border-radius: 20px;
