.wrapper {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  position: relative;
  overflow-x: hidden;
  background-color: $main-bg-color;
}
